extends base

block content
    h2 Критерии
    .table
        .table-row
            .table-cell
                p Название критерия
            .table-cell
                p Тип критерия
            .table-cell
                p Оптимальность критерия
            .table-cell
                p Единицы измерения
            .table-cell
                p Тип шкалы
        each criterion in criteria
            .table-row
                .table-cell
                    p= criterion.CName
                .table-cell
                    p= criterion.CType
                .table-cell
                    p= criterion.OptimType
                .table-cell
                    p= criterion.Edlzmer
                .table-cell
                    p= criterion.ScaleType
                .table__actions
                    li.nav-item
                        a.nav-link(href="/") Редактировать
                    li.nav-item
                        a.nav-link(href="/") Удалить